
  
 
<!-- 
<section id="about" class="about">
  <div class="container-fluid ">
    <div class="col-md-6 left">
      <div class="dedo">
        <div class="group">
          <div class="item-group  wow fadeInLeft" data-wow-delay=" 0.5s"  *ngFor="let item of descriptions">
            <div class="title-item ">
              <h2>{{item.header}} </h2>
              <p>{{item.title}} </p>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <div class="col-md-6 respo wow fadeInRight">
      <img src="assets/img/pic.png" class="img-responsive">
    </div>
  </div>
</section>

<section id="iptv" class="iptv">
  <div class="container ">
    <h1> PRICING PLANS </h1>
    <p>Enjoy full seasons of exclusive series, blockbuster movies, kids shows and more.</p>
    <div class="group-iptv">
      <div class="background-channel-item"  *ngFor="let item of packages">
        <div class="icon-channel">
          <i class="fa fa-television" aria-hidden="true"></i>
        </div>
        <div class="type-chearning">
          <h3>{{item.time}}</h3>
        </div>
        <div class="tilte-channel">
          <h5>6 days</h5>
          <h5> Limited Trial Period</h5>
          <h5> {{item.feature}} </h5>
          <h5>
            <span>{{item.price}} EUR </span>
          </h5>
        </div>
        <a href="#myModal" data-toggle="modal">
        </a>
      </div> 
    </div>
  </div>
</section>
<section id="mobile" class="mobile">
  <div class="container">
    <div class="col-md-5">
      <h3> CAPTURAS MOBILE APP IN ANDRIOD AND IPHONE</h3>
      <p>Now your can watch more than 3000 Channel in your mobile any time</p>
   
    </div>
    <div class="col-md-7  wow fadeInRight">
      <IMG src="assets/img//MOBILE.png">
    </div>
  </div>
</section>
<section class="logo">
  <div class="overlay2">
    <div class="container  wow zoomIn">
      <h3>Enjoy for watching with us </h3>
      <p> we are best so your can take trial free 7 day Now</p>
      <a href="" class="edit-profile fonts"> Subscibe Now</a>
    </div>
  </div> 
</section>


 
<section id="footer" class="footer">
  <div class="container-fluid ">  
    <div class="col-md-3">
      <div class="social-list wow fadeInUp ">
        <a href="facebook.com">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
        <a href="google.com">
          <i class="fa fa-google-plus-square" aria-hidden="true"></i>
        </a>
        <a href="twitter.com">
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </a>
      </div>
    </div>

 

    <div class="col-md-3">
      <div class="address wow fadeInRight" *ngFor="let item of addreess">
        <div class="address-list">
          <p> {{item.address}}</p>
        </div>

        <div class="address-list">
          <p>{{item.email}}</p>
        </div>

        <div class="address-list">
          <p>{{item.phone}}</p>
        </div>
      </div>
    </div>
  </div>
</section> -->



<!-- BEGIN # MODAL LOGIN -->
<!-- <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content"> 
            <div id="div-forms">  
                <form id='login-form' method='post' (submit)="updateTitlle()"> 
                  <div class="modal-body">
                        <input id="login_username" class="form-control" type="text" name="title" [(ngModel)]="titlesHome.title">                     
                    </div>
                    <div class="modal-footer"> 
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Update</button>                    
                    </div>
                </form> 
            </div> 
        </div>
    </div>
</div> -->
<!-- END # MODAL LOGIN --> 
