<section id="admin" class="admin">
    <app-ledft-menu></app-ledft-menu>
    <div class="box-basic wino">
        <div class="container" *ngFor="let item of contacts">      
          <h1> <span>Name    :</span>     {{item.name}}</h1>
          <h1> <span>Package : </span>{{item.package}}</h1>
          <h1><span> package :</span> {{item.email}}</h1>
          <h1><span> message :</span> {{item.message}}</h1>
          <h1><span>mobile :</span> {{item.mobile}}</h1>
        
      </div>
    </div>
  </section>
  