<div class="left-menu">
  <div class="small-logo">
      <img src="assets/img/logo.png" class="img-responsive">
  </div>
   <a href="#" [routerLink]="['/admin']"> <h3>Home page</h3> </a>
   <a href="#" [routerLink]="['/description']">  <h3> Description</h3></a>
    <a href="#" [routerLink]="['/package']">  <h3> Packages </h3></a>
      <a href="#" [routerLink]="['/address']"> <h3> Address </h3></a>
      <a href="#" [routerLink]="['/message']">  <h3> Message </h3></a>
      <a href="#" [routerLink]="['/login']" (click)="logoutClick()">  <h3> Log Out </h3></a>
      <div class="home-page"> 
      <a href="#" [routerLink]="['/']">  <h3> My Web </h3></a>
</div>
 </div>
